@model Internet_magazin.ViewModels.LoginVM

<h2 class="mb-5">Авторизация</h2>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Login" asp-controller="Account" />
                    <div class="form-group row">
                        <label asp-for="Login" for="Login" class="col-md-4 col-form-label text-md-right">Логин</label>
                        <div class="col-md-6">
                            <input asp-for="Login" type="text" id="Login" placeholder="Ваш логин" class="form-control" name="Login" required autofocus>
                            <span asp-validation-for="Login" />
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label asp-for="Password" for="password" class="col-md-4 col-form-label text-md-right">Пароль</label>
                        <div class="col-md-6">
                            <input asp-for="Password" type="password" id="password" placeholder="********" class="form-control" name="password" required>
                            <span asp-validation-for="Password" />
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">Войти</button>
                        <a asp-action="Register" asp-controller="Account" class="btn btn-link">Регистрация</a>
                        <a class="btn-danger" asp-action="Index" asp-controller="Home">Отмена</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>